@import url('https://use.typekit.net/erh4jzb.css');
@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');

:root {
  --fade-out-light: rgba(11, 255, 6, 0.3);
  --deem-light: rgb(15, 167, 12);
  --light: #0BFF06;
  --night: #000000;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--night);
  color: var(--light);
  font-family: 'Aldrich', sans-serif, courier-std, monospace;
  font-size: 12px;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}