body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #0bff06;
  font-family: courier-std, monospace;
  font-size: 12px;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background: #afc;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}