:root {
  --fade-out-light: rgba(11, 255, 6, 0.3);
  --deem-light: rgb(15, 167, 12);
  --light: #0bff06;
  --night: #000000;
}

.cameras {
  width: 95%;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.cameras video,
.cameras .item img,
.cameras .item canvas {
  margin: 5px;
  width: 300px;
  height: 100%;
  min-width: 300px;
  height: 170px;
  filter: hue-rotate(20%);
  border: 5px solid var(--light);
}

.singleVideo video {
  margin: 5px;
  width: 500px;
  min-width: 300px;
  max-height: 900px;
  filter: hue-rotate(20%);
}

.hide {
  display: none;
}

.displace {
  display: none;
  position: absolute;
  top: 0;
}

.show {
  display: block;
}
