:root {
  --fade-out-light: rgba(11, 255, 6, 0.3);
  --deem-light: rgb(15, 167, 12);
  --light: #0bff06;
  --night: #000000;
}

.modal {
  position: relative;
  width: 400px;
  margin: auto;
  overflow: hidden;
  border: 2px solid var(--light);
  border-radius: 5px;
}

.move-down {
  -webkit-animation-name: example;
  -webkit-animation-duration: 4s;
  animation-name: example;
  animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0% {
    background-color: red;
    top: 0px;
  }

  25% {
    background-color: yellow;
    top: 500px;
  }
}

/* Standard syntax */
@keyframes example {
  0% {
    background-color: red;
    top: 0px;
  }

  25% {
    background-color: yellow;
    top: 500px;
  }

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.modal .header {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  font-size: 16px;
  width: 100%;
  padding: 10px 0 10px 10px;
  background-color: var(--light);
  color: var(--night);
  cursor: move;
}

.modal .header .action i {
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.modal .content {
  background-color: var(--night);
  color: var(--light);
  height: 100%;
  width: 100%;
  font-size: 7px;
  padding: 10px;
  margin: 0px;
}
