:root {
  --fade-out-light: rgba(11, 255, 6, 0.3);
  --deem-light: rgb(15, 167, 12);
  --light: #0bff06;
  --night: #000000;
  --danger: rgb(235, 12, 131);
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px var(--night) inset;
  -webkit-text-fill-color: var(--danger);
  transition: background-color 5000s ease-in-out 0s;
}

input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus,
select:-moz-autofill,
select:-moz-autofill:hover,
select:-moz-autofill:focus {
  box-shadow: 0 0 0px 1000px var(--night) inset;
  -moz-text-fill-color: var(--danger);
  transition: background-color 5000s ease-in-out 0s;
}

.form-group {
  width: calc(100% - 25px);
  padding: 5px;
  display: flex;
  align-items: center;
}

.form-group label {
  font-family: Aldrich;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--light);
  max-width: 150px;
  width: 150px;
  flex-grow: 0.6;
}

.form-group input,
select,
button {
  background: var(--night);
  color: var(--light);
  border: 0.5px solid var(--deem-light);
  box-sizing: border-box;
  border-radius: 6px;
  padding: 10px;
  height: 49px;
  flex-grow: 2;
  font-size: 14px;
}

.form-group input:focus,
.form-group button:focus {
  outline: none;
  border: var(--light);
  background: var(--light);
  color: var(--night);
}

.form-group input::placeholder {
  color: var(--deem-light);
}

.form-group button {
  flex-grow: initial;
  min-width: 130px;
  padding: 10px;
  background: var(--light);
  color: var(--night);
  text-transform: uppercase;
  cursor: pointer;
}

.form-group button:hover {
  border: 30px;
}
