:root {
  --fade-out-light: rgba(11, 255, 6, 0.3);
  --deem-light: rgb(15, 167, 12);
  --light: #0bff06;
  --night: #000000;
  --danger: #ff6f61;
}

#root {
  background: url('./assets/green-back.jpg') no-repeat;
  background-size: contain;
  min-height: 90vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text {
  animation: typeText 5s steps(30) 1s 1 normal both,
    curserAnim 500ms steps(30) infinite normal;
}

@keyframes typeText {
  0% {
    width: 0em;
  }

  100% {
    width: 100%;
  }
}

@keyframes curserAnim {
  0% {
    border-right-color: #000000;
  }

  100% {
    border-right-color: #ff6f61;
  }
}

.center-all {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.w50p {
  width: 50% !important;
}

.w40p {
  width: 40% !important;
}

.flex {
  display: flex;
}

.p40 {
  padding: 40px;
}

.error {
  color: var(--danger);
}

.error h1,
i {
  font-size: 26px;
  text-align: center;
}

.error i {
  font-size: 5rem;
}

.hide {
  display: none !important;
}
